body {
    margin: 100px;
}
span {
    font-weight: 700;
}
#currentdate {
    color:rgba(1, 45, 28, 0.701);
    font-style: normal;
}
header, footer {
    font-family: 'EB Garamond', serif;
    background-color: #2cbdb4;
    padding: 0.5rem;
    width: 500px;
    align-items: center;
}
header {
    max-width: 500px;
    max-height: 200px;
}
image {
    display: inline;
    padding-left: 0.5rem;
    border: 5px solid #CCC;
}
h1 {
    font-family: 'Calistoga', cursive;
    display: inline;
    margin-left: 50px;
    text-align: justify;
}
.lastupdated {
    margin-left: 150px;
}
ul {
    font-weight: 700;
}