body {
    margin: .5rem;
}
span {
    font-weight: 700;
}
#currentdate {
    color:rgb(10, 10, 235);
}
header, footer {
    font-family: 'EB Garamond', serif;
    background-color: #187795;
    padding: 1rem;
    width: 500px;
}
image {
    display: inline;
    padding-left: 0.5rem;
    border: 5px solid #CCC;
}
h1 {
    font-family: 'Calistoga', cursive;
    display: inline;
    display:grid;
    grid-template-columns: 1fr;
    margin-left: 120px;
    margin-bottom: 150px;
    text-align: center;
    grid-row: 1;
}
